@import 'src/styles/sass/mixins.scss';
@import 'src/styles/sass/variables.scss';

.button {

}

.primary {
  height: 36px;
  line-height: 36px;
  overflow: hidden;
  @include flex(row, center, center);
  text-align: center;
  padding: 0 20px;
  border-radius: 3px;
  background-color: #FCFCFC;
  box-shadow: 0 2px 10px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  @include anim(0.2s, 0s);

  &:not(.disabled):hover {
    box-shadow: 0 3px 15px rgba(109, 109, 109, 0.25), inset 0 1px 0 rgba(255, 255, 255, 0.3);
  }
}

.disabled {
  opacity: 0.5;
  cursor: no-drop;
}
