%flexBox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  //font-size: 0;
}

%decorBorder {
  border-top: 1px solid #E7E8EC;
  border-right: 1px solid #E7E8EC;
  border-left: 1px solid #E7E8EC;
  border-bottom: 1px solid #DCE1E6;
}
