// DarkTheme:
$bgPrimary: #fff;
$bgSecondary: #fff;

$colorPrimary: #000;
$colorSecondary: #000;
$colorAncillary: #000;

// Common:
$fontSize: 14px;
$fontWeight: 400;
$fontFamily: 'sans-serif';

// Additionally:
$boxShadowPopup: 0 20px 40px 0 rgb(0 0 0 / 30%);

// Adaptive:
$minWidth: 320px;
$maxWidth: 1170;
$media1: $maxWidth+12;
$media2: 992.98;
$media3: 767.98;
$media4: 479.98;
