@import "src/styles/sass/mixins.scss";

.container {
  @include flex(column, stretch, center);
}

.input {
  border-radius: 5px;
  padding: 5px 20px;
  border: 1px solid #D1D1D1;
}

.errorInput {
  border: 1px solid red;
}

.errorSpan {
  color: red;
  margin-top: 5px;
}
