@import "./reset.scss";
@import "./sass/variables.scss";
@import "./sass/templates.scss";

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  color: $colorPrimary;
  background-color: $bgPrimary;
  overflow-y: scroll;
}

.app {
  max-width: 1060px;
  margin: 0 auto;
  width: 100%;
}
