@import './reset.scss';
@import './sass/variables.scss';
@import './sass/templates.scss';

body {
	color: $textColor;
	background: $backgroundColor;
	font-family: $fontFamily;
	font-size: $fontSize;
	font-weight: $fontWeight;
	min-height: 100vh;
}

.container {
	max-width: 1280px;
	margin: 0 auto;
}