@import "./reset.scss";
@import "./sass/variables.scss";
@import "./sass/templates.scss";

body {
  font-size: $fontSize;
  font-weight: $fontWeight;
  font-family: $fontFamily;
  color: $colorPrimaryLight;
  background-color: $bgPrimaryDark;
  overflow-y: scroll;
}

.container {
  max-width: $mw;
  margin: 0 auto;
  width: 100%;

  &.darkApp {
    background: $bgPrimaryDark;
    color: $colorPrimaryDark;
  }
}
