@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/mixins.scss';

.pagination {

  .button {
    padding: 5px 10px;
    @include anim(0.1s, 0s);

    &:hover:not(.active) {
      background-color: #f5f4f4;
    }

    &.active {
      background-color: #f5f4f4;
    }
  }
}
