@import 'src/styles/sass/variables.scss';
@import 'src/styles/sass/mixins.scss';

.pagination {

  .button {
    padding: 5px 10px;
    text-decoration: none;
    @include anim(0.1s, 0s);

    &:hover:not(.active) {
      background-color: #d1e1ff;
    }

    &.active {
      background-color: #9cc8fc;
    }
  }
}
